{% load static %}
<head>
<!DOCTYPE html>
<html lang="pl">
<link rel="stylesheet" type="text/css" href=" {% static 'psinder/about.css' %} ">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Wszystkie zwierzaki</title>
    <div class="under-logo">
          <a class="navbar-brand" href="/"  >
            <img src="{% static 'foot.png' %}" alt="Logo Psinder" class="foot" > PSINDER </a>

{% block logowanie %}
<div class = "logowania">
            {% if user.is_authenticated %}
            <div class="box-1">
                <a class="btn btn-one" href="{% url 'profile' %}"> Profil </a>
                <a class="btn btn-one" href="{% url 'logout' %}"> Wyloguj się </a>
            </div>
            {% else %}
            <div class="box-1">
                <a class="btn btn-one" href="{% url 'login' %}"> <span>Zaloguj się</span> </a>
                <a class="btn btn-one" href="{% url 'register' %}"> <span> Dołącz do nas!</span> </a>
            </div>
            {% endif %}
 </div> </div>


{% endblock logowanie %}

</head>
<body>
<!--    <h1> {{ post.title }}</h1>
    <p> By {{post.author }} on {{ post.date_posted }} </p>
    <p> By {{post.content }} </p>
-->
<div class ="glowny-uklad">
{% load i18n %}
{% language 'pl' %}
{% for post in posts %}

<div class="tlo-ogloszen">
    <div class="grid-container">
      <div class="card">
          <img src="{% static 'Pies1.jpg' %}" alt="Opis zdjecia" />
        <div class="post-details">
        <h2> {{ post.title }} </h2>
          <p class="par1"> {{post.content }} </p>
          <div class="par2">
              <img class ="rounded-circle profile-img" src = "{{ post.author.profile.image.url }}">
              Autor: {{post.author }}, {{ post.date_posted|date:"F d,Y" }} </div>
        </div>

      <button>Dowiedz się więcej</button>
      </div>
    </div>
{% endfor %}
{% endlanguage %}

 </div>


<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Psinder © 2023</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


</body>

