{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'psinder/base_profile.css' %} ">
<!DOCTYPE html>
<html lang="pl">

  <head>

    <div class="under-logo">
          <a class="navbar-brand" href="/" >
            <img src="{% static 'foot.png' %}" alt="Logo Psinder" class="foot"> PSINDER </a>
    {% if messages %}
    {% for message in messages %}
    <div class ="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
         {{ message }}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">>
     <span aria-hidden="true">&times;</span>
  </button> </div>
    {% endfor %}
    {% endif %}



        {% block logowanie %}


<div class = "logowania">
            {% if user.is_authenticated %}
            <div class="box-1">
                <a class="btn btn-one" href="{% url 'profile' %}"> Profil </a>
                <a class="btn btn-one" href="{% url 'logout' %}"> Wyloguj się </a>
            </div>
            {% else %}
            <div class="box-1">
                <a class="btn btn-one" href="{% url 'login' %}"> <span>Zaloguj się</span> </a>
                <a class="btn btn-one" href="{% url 'register' %}"> <span> Dołącz do nas!</span> </a>
            </div>
            {% endif %}
 </div>


{% endblock logowanie %}


          {% block content %}
          {% endblock %}


        <!-- <button type="button" class="logowanie-kolor" >Zaloguj się</button>
                <button type="button" class="logowanie-kolor" >Dołącz do nas!</button>  -->



        <!-- <button>Przycisk 1</button> -->
         {% block organizacje_wspolpraca %}

          {% endblock %}


{% block opis %}

            {% endblock %}

</div>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>Nasi przyjaciele  </title>



  </head>

  <body>

  {% block dodaj_ogloszenie %}
  {% endblock %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Psinder © 2023</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
