{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'psinder/manyviews.css' %} ">
<!DOCTYPE html>
<html lang="en">


<!DOCTYPE html>
<html>
  <head>
    <title>Wszystkie zwierzaki</title>

  </head>
  <body>
    <div class="grid-container">
      <div class="card">
        <img src="{% static 'Pies1.jpg' %}" alt="Opis zdjecia" />
        <h2>Tytuł 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit a arcu ut suscipit.</p>
        <button>Czytaj więcej</button>
      </div>
      <div class="card">
        <img src="pies1.jpg" alt="Opis zdjęcia">
        <h2>Tytuł 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit a arcu ut suscipit.</p>
        <button>Czytaj więcej</button>
      </div>
      <div class="card">
        <img src="pies1.jpg" alt="Opis zdjęcia">
        <h2>Tytuł 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit a arcu ut suscipit.</p>
        <button>Czytaj więcej</button>
      </div>
      <div class="card">
        <img src="pies1.jpg" alt="Opis zdjęcia">
        <h2>Tytuł 4</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit a arcu ut suscipit.</p>
        <button>Czytaj więcej</button>
      </div>



</html>