{% extends "psinder/base.html" %}

{% load static %}


{% block content %}

{% load i18n %}
{% language 'pl' %}


<div class ="content-section">
    <form method="POST">
{% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-5"> Usuwanie postu </legend>

          <h2> Czy jesteś pewien, że chcesz usunąć post "{{ object.title }}" ? </h2>
        </fieldset>
        <div class="form-group2">
            <button class ="btn btn-danger " type="submit"> Tak, usuń</button>
            <a href ="{% url 'post-detail' object.id %}" class ="btn btn-secondary "> Przerwij </a>
        </div>
    </form>

</div>

<body>
<style>

.btn-secondary {
padding-top: 10px;
}

.form-group2 {

    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
}
.form-group2 button {
    margin-right: 30px; /* Dodaj margines po prawej stronie przycisku "Tak, usuń" */
  }
.under-logo {
       height: 1000px;
       width: auto;
       background-size: cover;
       background-position: left;
       font-family:Georgia, 'Times New Roman', Times, serif;

      }
btn btn-outline-info {
color: rgb(244, 243, 163) !important

}


fieldset.form-group {

    padding:20px;
    margin: 20px;
    border: 0;

}

body .text-muted {
color: rgb(244, 243, 163) !important
}

borter-top pt-3 {
text-align: center;

}




</style>
</body>

{% endlanguage %}
{% endblock content %}


<!--<style>-->


<!--.form-group{-->
<!--    color: black;-->
<!--    width: 100%; /* Dostosuj szerokość formularza według potrzeb */-->
<!--    margin: 5px 0; /* Aby umieścić formularz na środku strony */-->

<!--}-->

<!--.under-logo {-->
<!--       height: 1000px;-->
<!--       width: 100%;-->
<!--       background-size: auto;-->
<!--       background-position: left;-->
<!--       font-family:Georgia, 'Times New Roman', Times, serif;-->

<!--      }-->


<!--</style>-->




<!--<body>-->
<!-- <labelnew>-->
<!--        <form method="POST">-->
<!--        {% csrf_token %}-->
<!--               -->
<!--        <label for="username">Nazwa użytkownika:</label>-->
<!--        <input type="text" name="username" id="username" required>-->
<!--        <br>-->
<!--        <label for="email">Adres email:</label>-->
<!--        <input type="email" name="email" id="email" required>-->
<!--        <br>-->
<!--        <label for="password">Hasło:</label>-->
<!--        <input type="password" name="password" id="password" required>-->
<!--        <br>-->
<!--        <label for="password_confirm">Potwierdź hasło:</label>-->
<!--        <input type="password" name="password_confirm" id="password_confirm" required>-->
<!--        <br>-->
<!--        <input type="submit" value="Utwórz konto">-->
<!--            </form>-->
<!--</labelnew>-->
<!--</body>-->






