html body {

        background-color: #ddd;
        background-size: cover;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
}

:root {
        --color: #0d2308}


.glowny-uklad {

display: grid;
grid-template-columns: 60% auto;
}

      .grid-container-lewy {
         display:grid;
         margin-left: 20px;
         grid-gap: 12px;
         padding-bottom: 40px;
      }
      .grid-container-prawy {

      }

.post-details {
  flex: 1; /* Zajmij dostępną przestrzeń w kontenerze */
  margin-left: 20px;
  margin-right: 20px;/* Lub dostosuj margines według potrzeb */
  text-align: center;
}

.post-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.post-details .par1 {
  line-height: 3.5;
  margin-bottom: 15px;
}

.post-details .par2 {
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-details .rounded-circle.profile-img {
  width: 50px;
  height: 50px;
  border: 2px solid rgb(173 143 76);
}

.card {
        border-radius: 20px !important;
        color: black;
        display: flex;
        flex-direction: row !important;
        align-items: center;
        border: 1px solid var(--color) !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        padding: 20px;
        background-color: white !important;
      }

      .card img {
        border-radius:20px;
        width: 200px;
        height: auto;
        object-fit: contain;
        /* check later object-fit:contain */
        border-radius: 30px;

      }

      .card h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .card p {

        line-height: 3.5;
        margin-bottom: 15px;
      }

      .card button {
        background-color:var(--color);
        color: #fff;
        border: 1px solid rgb(173 143 76);
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
      }

      .card button:hover {
        background-color: #3e8e41;
      }

      .par1 {
      font-size: 16px;
    border: outset rgb(159, 204, 166);
    width: 100%;
}

        .par2 {
    font-size: 10px;
    display:flex;
    align-items: center;
    margin-left: 150px;
    margin-bottom: 10px;
}
        .rounded-circle.profile-img {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(173 143 76);
}


      @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');





        @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
        .logowania {
           margin-left:95%;
          margin-top:0%;
          justify-content: space-between;
          display:grid;
          font-family: 'Comfortaa', cursive;


        }
        .logowanie-kolor {
          border-radius: 20px;
          box-shadow: 2px 2px 4px rgba(0, 0, 0,2);

          color: rgb(0, 0, 0);
          font-family: Apple Chancery, cursive;
        }

        .logowania .btn-one:first-child {
      margin-right: 10px;

        }
        .logowanie-kolor2 {
          border-radius: 20px;
          box-shadow: 2px 2px 4px rgba(0, 0, 0,2);
          background-color: #fff;
          color: rgb(0, 0, 0);
          font-family:cursive;
          display:inline-flex;
          width:150px;
          justify-content: center;



        }
        .main-menu {
          border-radius: 10px;
          font-size: 20px;
          background-color: rgb(77, 122, 3);
          color: rgb(0, 0, 0);
          font-family:Georgia, 'Times New Roman', Times, serif

        }
      .navbar
         {
            font-family:Georgia, 'Times New Roman', Times, serif;



        }
        .navbar-brand
         {
            font-family:cursive;
            color: rgb(255, 255, 255);
            font-size: 30px !important;



        }


        .btn-dark
         {
            font-family: Arial, sans-serif;
            background-color: rgb(201, 255, 201);
            color: rgb(0, 0, 0);
            display: absolute;

        }


         .bg-tlo
         {
            font-family:Georgia, 'Times New Roman', Times, serif;
            background-color: rgb(255, 255, 255);

         }

         .col-4
         {
          background-color: red;
          border-width: 10px;
          border-color: #333333;
          border-style: solid;
        }
          .przyciski {

          display:flex;

          justify-content:LEFT;
          align-items: center;
          font-size: 20px;
          background-color: ;           <!-- Tutaj dodać kolor naglówka, jeśli brak to jest od tła strony -->
        }




        .under-logo {
       height: auto;
       margin-bottom: 100px;
       width: 100%;
       background-color:var(--color)!important;
       background-size: cover;
       background-position: left;
       font-family:Georgia, 'Times New Roman', Times, serif;
       color: rgb(255, 255, 255);


      }

      .title_announcement {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        font-family: cursive;
      }
      h1 {
        text-align: center;
        font-size: 48px;
        color: #333333;
      }
      .dog-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
      }
      .dog-card {
        width: 30%;
        margin-bottom: 30px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
      }
      .dog-card:hover {
        transform: scale(1.05);
      }
      .dog-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      .dog-card h2 {
        margin: 0;
        padding: 10px;
        font-size: 24px;
        color: #333;
        background-color: #f2f2f2;
        border-bottom: 1px solid #ddd;
      }
      .dog-card p {
        margin: 0;
        padding: 10px;
        font-size: 18px;
        color: #666;
        line-height: 1.5;
      }

      #wsparcie {
          background-color: #c78a8a;
          display: flex;
          justify-content: end;
          align-items: center;
          padding: 10px;
          font-family: Apple Chancery, cursive;
          position: absolute;
          right: 0;
          margin: 30px;
      }

      .card-body {
        background-color: rgb(80, 90, 73);
      }

      .btn {
        display: inline;
        color: white !important;
        margin-top: -150px;

      }


.colbutton {
  height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

div[class*=containerbutton] {

          /* display: flex;
          justify-content: space-evenly;
          align-items: center;
          color:aqua

          padding: 10px;
          margin: 10px;
          background-color: ;
          */
  text-align:center;
  width: auto;
  height: auto;
  margin: 15px;
  padding: 25px;
  justify-content:space-evenly;
  display:inline-flex;
  align-items:center;
  font-family: 'Comfortaa', cursive;
}

.containerbutton-2
{
    /*background: rgb(200, 240, 162);*/
 }

/*
 BUTTON STYLING
*/

.btnbutton {
  position: relative;

  color: rgb(255, 255, 255);
  width: 256px;
  font-size: 17px;
  height:auto;
  word-wrap:break-word;
  text-align: center;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);

  }
}

.btnbutton::before, .btnbutton::after {
  content: '';
  position: absolute;

  transition: all 0.4s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}



/* BTN TWO */
.btn-two::before, .btn-two::after {
  content: '';
  position: absolute;

  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.4s;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-two:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}
.btn-two:hover::after, .btn-two:hover::before {
  left: 96px;
  width: 64px;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

/* BUTTON 2 */


@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';



div[class*=box] {
  height: 13.33%;
  width: 0%;
  display:flex;
  justify-content:right;
  align-items:center;
}

.box-1 {
background-color: #720d0d;
color:white;
}


.btn {

  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 150px;
  cursor: pointer;

}


.btn-one {
  color: #FFF;
  color:white;

  transition: all 0.3s;
  position:relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.2);
}
.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}


/* END OF BUTTON2 */



.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
 /* border-radius: 10px;
  border: 2px solid gray;
  padding: 10px; */
}

.footer-basic1 {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:1;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

#createNew {
    background-color: var(--color);
    float:right;
    position:absolute;
    top: 310px;
    left:50%;
    font-family: 'Comfortaa', cursive;
    padding: 10px 5px;
}


element {
}
.ui.grid > .row > .column[class*="six wide"], .ui.grid > .column.row > .column[class*="six wide"], .ui.grid > .column[class*="six wide"], .ui.column.grid > .column[class*="six wide"] {
  width: 37.5% !important;
}
.ui.grid > .column:not(.row) {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ui.grid > .column:not(.row), .ui.grid > .row > .column {
  position: relative;
  display: inline-block;
  width: 6.25%;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: top;
}
.ui.grid > * {
  padding-left: 1rem;
  padding-right: 1rem;
}
*, ::before, ::after {
  box-sizing: inherit;
}
